---
import DetailPage from '../../layouts/DetailPage.astro';
---
<DetailPage section="资源" sectionHref="/resources" eyebrow="Resource" title="Linux Media API" description="Linux 多媒体 API 资料索引。"><section><h2>方向</h2><p>V4L2、media controller、buffer queue。</p></section></DetailPage>
