---
import DetailPage from '../../layouts/DetailPage.astro';
---
<DetailPage section="资源" sectionHref="/resources" eyebrow="Resource" title="V4L2 Tools" description="V4L2 调试工具索引。"><section><h2>工具</h2><p>v4l2-ctl、ffplay、v4l2loopback。</p></section></DetailPage>
